@{
    ViewData["Title"] = "Home Page";
}

<div class="holder">
    <div class="cl">&nbsp;</div>
    <div class="text-center">
        <div class="stripe">

            <!--this code display the Templete of navigation bar of index-->
  
            <div class="text-center">
                <h3 class="display-4">Imagine the next level of Fashion</h3>
            </div>
            <div class="cl">&nbsp;</div>
            <div class="text-center">
                <a href="#"><img src="css/images/IMAGE 1.jpg" alt="" /></a>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Big Image -->
            <div class="layer-1-2 wow slideInUp" data-wow-duratiAuckland.</on="2s" data-wow-delay=".1s">
                <div class="cl">&nbsp;</div>
    </div>

        </div>
        <p>
            Fashion is best defined simply as the style or styles of clothing and accessories worn at any given time by groups of people.
            There may appear to be differences between the expensive designer fashions shown on the runways of Paris or New York and the mass-produced sportswear and street styles sold in malls and markets around the world.
        </p>


    </div>
    <div class="cl">&nbsp;</div>
    <div class="text-center">
        <a href="#"><img src="css/images/jwellery.jpg" alt="" /></a>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Big Image -->
    <div class="layer-1-2 wow slideInUp" data-wow-duratiAuckland.</on="2s" data-wow-delay=".1s">
                <div class="cl">&nbsp;</div>
    </div>

</div>
<p>
    Roxanne Assoulin's beaded necklaces bracelets are the ultimate way to add some color—and some fun—into your jewelry collection.
    Earrings are going solo this season. 
    The single earring look dominated Spring 2020 runways from Prabal Gurung to Tibi and Marc Jacobs.


    </div>

    </ul>
    </div>
    </div>
    <!-- End Sidebar -->
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
    <!-- Footer -->




    <div class="text-center">
        <h1 class="display-4"></h1>
<p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
